@font-face
  font-family: "FiveFontsatFreddy"
  src: local("FiveFontsatFreddy"), url("./font/FiveFontsatFreddy's-Regular.ttf") format("truetype")
  font-display: swap

@font-face
  font-family: "TheCall"
  src: local("TheCall"), url("./font/the-call-an-official-android-game-font.ttf") format("truetype")
  font-display: swap

@font-face
  font-family: "RainyHearts"
  src: local("RainyHearts"), url("./font/rainyhearts.ttf") format("truetype")
  font-display: swap

