@use "font"
*
  box-sizing: border-box

html, body
  font-family: "Goodbye Despair", "Monospaced", "sans-serif"
  font-size: 16px
  image-rendering: pixelated
  text-rendering: auto

body
  background-color: #000
  min-height: 100vmin
  margin: 0
  display: flex
  flex-flow: column wrap
  justify-content: center
  align-items: center

canvas
  background-color: #2DA3D2
  background-size: cover
  display: block
  image-rendering: high-quality
  scale: 1.5
