@use "font"
*
  box-sizing: border-box

html, body
  font-family: "Goodbye Despair", "Monospaced", "sans-serif"
  font-size: 16px

body
  background-color: #151414
  min-height: 100vmin
  margin: 0
  display: flex
  flex-flow: column wrap
  justify-content: center
  align-items: center


canvas
  /*background: #FFFFFF linear-gradient(180deg, #52ade8 0%, #307bc7 90%)*/
  background-color: #bfd7c6
  background-size: cover
  display: block
