*
  box-sizing: border-box
  image-rendering: pixelated

html, body
  font-family: monospace, "sans-serif"
  font-size: 16px
  text-rendering: auto

img.nope
  height: 40px
  image-rendering: pixelated

body
  background-color: #000
  min-height: 100vmin
  margin: 0
  display: flex
  flex-flow: column wrap
  justify-content: center
  align-items: center

canvas
  background-size: cover
  display: block
  image-rendering: pixelated
  object-fit: contain
  width: 100%
  max-width: 100%
  max-height: 100vh